//css\_buttons.scss//
@use "variables" as v;
@use "sass:color";
.button {
  padding: v.$spacing-sm v.$spacing-md;
  background-color: v.$color-primary;
  color: v.$color-light-2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust(v.$color-primary, $lightness: 10%);
  }

  &--secondary {
    background-color: v.$color-menu;
    color: v.$color-light-1;

    &:hover {
      background-color: color.adjust(v.$color-menu, $lightness: 10%);
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid v.$color-primary;
    color: v.$color-primary;

    &:hover {
      background-color: v.$color-primary;
      color: v.$color-light-1;
    }
  }
}
