@use "variables" as v;
@use "sass:color";

.button {
  padding: v.$spacing-sm v.$spacing-md;
  background-color: v.$color-primary;
  color: v.$color-light;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust(v.$color-primary, $lightness: 10%);
  }
  &--secondary {
    background-color: v.$color-secondary;
  }
}
