$color-bg: #ffffff; // fond général des pages
$color-primary: #660099; // couleur dominante (violet header, boutons, etc.)
$color-secondary: #222; // texte principal
$color-light: #f9f9f9; // gris très clair (fond secondaire)
$color-dark: #111; // texte profond ou fond sombre

$font-base: "Inter", sans-serif;
$font-size-base: 16px;

$header-height: 100px;
$container-max-width: 1200px;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Styles de base
